main {
    padding-left: 150px;
}

body {
    background-color: #F2F2F2;
}

#module_banner {
    pointer-events: none;
}

@media only screen and (max-width : 992px) {
    main {
        padding-left: 0;
    }
}

#tests td:hover {
    cursor: pointer;
}
